<html>
<h1>Project Eco</h1>

<body>
  <%= link_to image_tag('luwan2.jpg', class: 'w-100 rounded shadow-lg d-block mx-auto', style: 'max-width: 50rem;'), item_path(4) %>
  <p>"The Little One"</p>

  <h2>Full ownership licenses for original characters. No expiration.</h2>
  <p>Fully (or partially) designed original characters of all archetypes, races and, scales of magnitude. </p>

  <h2>We know.</h2>
  <p>Character design is tough. That's why we had someone else do it for you. </p>

  <h2>It's not plaigarism.</h2>
  <p>Ownership is transfered via Eco-standardized license. From the artist to you(r brand new media studio). </p>

  <p><%=link_to 'View all Characters',items_path, class: 'btn btn-primary'%> <%=link_to 'About', home_path, class: 'btn btn-secondary'%>  </p>
  

</body>
</html>